.cl-white{
    color: white !important;
}

/* Rojo #ED3237 */
/* Negro #373435 */

.bg-dark-purple{
    background-color: #CC1014;
}

.bg-purple{
    background-color: #ED3237;
}

.bg-purple-sepanka{
    background-color: #7A75B5;
}

.bg-blue{
    background-color: #406BB2;
}

.bg-gray{
    background-color: #606062;
}

.bg-check{
    background-color: #D2D3D5;
}

.bg-red{
    background-color: #ED3237;
}

.btn-tab.active{
    color: white;
    background-color: #545B5E;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab{
    color: white;
    background-color: #406BB2;    
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab.active:hover{
    text-decoration: none;
}

.btn-tab:hover{
    text-decoration: none;
    color: white;
}

.form-control:focus {
    border-color: #FD595E !important;
    box-shadow: inset 0 1px 1px rgba(126, 119, 193, 0.075), 0 0 8px rgba(126, 119, 193, 0.6) !important;
}

.requerido:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

.dropdown-item-dark:hover{
    background-color: #000000;
    color: #ffffff;
}

.img-header-profile{
    max-height:120px;
    max-width:120px;
}

.photo-container{
    max-height:60px;
    max-width:60px;
    background-color: #000000;
    border-radius: 100%;
    padding: 45px;
}

.photo-profile{
    max-height:180px;
    max-width:180px;
}

.photo-profile-container{
    max-height:180px;
    max-width:180px;
    background-color: #000000;
    /*border-radius: 100%;*/
    padding: 95px;
    margin-bottom: 10px;
}

#isItLoaded {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.th-color{
    background-color: #406BB2;
    color: #ffffff;
}

.page-item.previous>a{
    background-color: #406BB2 !important;
    color: #ffffff !important;
    border: 1px solid #406BB2 !important;
}

.page-item.next>a{
    background-color: #406BB2 !important;
    color: #ffffff !important;
    border: 1px solid #406BB2 !important;
}

.btn-bblue{
    background-color: #285992;
    color: #ffffff;
}

.btn-bblue:hover{
    background-color: #1d4068;
    color: #ffffff;
}

.btn-excel{
    background-color: #1C742F;
    color:#ffffff;
}

.btn-excel:hover{
    background-color: rgb(20, 83, 34);
    color:#ffffff;
}

.text-bblue{
   color: #285992; 
}

.page-item.active .page-link{
    background-color: grey !important;
    border: 1px solid grey !important;
}


/*.custom-file-label::after {
    border-radius: 4px 4px 4px 4px;
}*/

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card.cuestionarios {
  border: 0;
}
.card.cuestionarios ul li.nav-item {
  width: 24%; margin: 0 0.5%;
}
.card.cuestionarios ul li a {
  color: white;
}
.guia_title {
  background-color: #0087C3;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
}
.fondo_rojo {
  background-color: #E3342F !important;
  color: white !important;
}
.fondo_amarillo {
  background-color: #FFCB2A !important;
  color: black !important;
}
.fondo_verde {
  background-color: #04A65A !important;
  color: white !important;
}
.fondo_diferente {
  background-color: #406BB2 !important;
  color: white !important;
}
.fondo_blanco {
  background-color: whitesmoke;
  padding: 15px !important;
}
.fondo_turqueza {
  background-color: #0087C3 !important;
  color: white !important;
}
.sociograma_table {
  padding: 15px;
}
.sociograma_table p {
  color: #406BB2;
}
.nps_buttons {
  display: inline-block;
  width: 100%;
  padding-left: 0;
}
.nps_buttons li {
  display: inline-block;
  width: 8.5%;
  height: 40px;
  cursor: pointer;
  padding: 0 10px;
}
.nps_buttons li div {
  height: 40px;
}
.nps_buttons li div span {
  border-radius: 7px;
  width: 100%;
  display: inline-block;
  background-color: #406BB2;
  height: 40px;
  padding-top: 9px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.nps_buttons li div span.selected {
  background-color: #91D8F7;
}
textarea.nps_porque {
  width: 100%;
  height: 100px;
}
.col-12 {
  padding: 0;
}
button

div.autocomplete-suggestions {
  background-color: white;
  padding: 5px 10px;
  max-height: 10000px !important;
}
div.autocomplete-suggestions div.autocomplete-suggestion {
  background-color: white;
  color: black;
}
div.autocomplete-suggestions div.autocomplete-suggestion:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
td.users .col-md-8, td.users .col-md-1 {
  padding-left: 0;
}
input.users_autocomplete {
  width: 100%;
}
.bg-client-primary {
  background-color: #406BB2;
}
.separate {
  padding-top: 15px;
  border-top: 1px solid #406BB2;
}
div#navbarSupportedContent ul li a {
  font-size: 1rem;
}

/* Colores Norma 035 */
.rojo{
  background: red;
  color: white;
}
.naranja{
  background: orange;
}
.amarillo{
  background: yellow;
}
.verde{
  background: green;
  color: white; 
}
.turqueza{
  background: #5dc1b9;
  color: white;
}
.btn-ambar{
  color: #fff;
  background-color: #FFBF00;
  border-color: #FFBF00;
}

/* Norma 035 */
.info-box{box-shadow:0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);border-radius:.25rem;background:#fff;display:-ms-flexbox;display:flex;margin-bottom:1rem;min-height:80px;padding:.5rem;position:relative}.info-box .progress{background-color:rgba(0,0,0,.125);height:2px;margin:5px 0}.info-box .progress .progress-bar{background-color:#fff}.info-box .info-box-icon{border-radius:.25rem;-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;font-size:1.875rem;-ms-flex-pack:center;justify-content:center;text-align:center;width:70px}.info-box .info-box-icon>img{max-width:100%}.info-box .info-box-content{-ms-flex:1;flex:1;padding:5px 10px}.info-box .info-box-number{display:block;font-weight:700}.info-box .info-box-text,.info-box .progress-description{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.info-box .info-box .bg-gradient-primary,.info-box .info-box .bg-primary{color:#fff}.info-box .info-box .bg-gradient-primary .progress-bar,.info-box .info-box .bg-primary .progress-bar{background-color:#fff}.info-box .info-box .bg-gradient-secondary,.info-box .info-box .bg-secondary{color:#fff}.info-box .info-box .bg-gradient-secondary .progress-bar,.info-box .info-box .bg-secondary .progress-bar{background-color:#fff}.info-box .info-box .bg-gradient-success,.info-box .info-box .bg-success{color:#fff}.info-box .info-box .bg-gradient-success .progress-bar,.info-box .info-box .bg-success .progress-bar{background-color:#fff}.info-box .info-box .bg-gradient-info,.info-box .info-box .bg-info{color:#fff}.info-box .info-box .bg-gradient-info .progress-bar,.info-box .info-box .bg-info .progress-bar{background-color:#fff}.info-box .info-box .bg-gradient-warning,.info-box .info-box .bg-warning{color:#1f2d3d}.info-box .info-box .bg-gradient-warning .progress-bar,.info-box .info-box .bg-warning .progress-bar{background-color:#1f2d3d}.info-box .info-box .bg-danger,.info-box .info-box .bg-gradient-danger{color:#fff}.info-box .info-box .bg-danger .progress-bar,.info-box .info-box .bg-gradient-danger .progress-bar{background-color:#fff}.info-box .info-box .bg-gradient-light,.info-box .info-box .bg-light{color:#1f2d3d}.info-box .info-box .bg-gradient-light .progress-bar,.info-box .info-box .bg-light .progress-bar{background-color:#1f2d3d}.info-box .info-box .bg-dark,.info-box .info-box .bg-gradient-dark{color:#fff}.info-box .info-box .bg-dark .progress-bar,.info-box .info-box .bg-gradient-dark .progress-bar{background-color:#fff}.info-box .info-box-more{display:block}.info-box .progress-description{margin:0}@media (min-width:768px){.col-lg-2 .info-box .progress-description,.col-lg-3 .info-box .progress-description,.col-md-2 .info-box .progress-description,.col-md-3 .info-box .progress-description,.col-xl-2 .info-box .progress-description,.col-xl-3 .info-box .progress-description{display:none}}@media (min-width:992px){.col-lg-2 .info-box .progress-description,.col-lg-3 .info-box .progress-description,.col-md-2 .info-box .progress-description,.col-md-3 .info-box .progress-description,.col-xl-2 .info-box .progress-description,.col-xl-3 .info-box .progress-description{font-size:.75rem;display:block}}@media (min-width:1200px){.col-lg-2 .info-box .progress-description,.col-lg-3 .info-box .progress-description,.col-md-2 .info-box .progress-description,.col-md-3 .info-box .progress-description,.col-xl-2 .info-box .progress-description,.col-xl-3 .info-box .progress-description{font-size:1rem;display:block}}