.bolder{
    font-weight: 900 !important;
    text-shadow: 0px .1px, .1px 0px, .1px .1px;
}

.title_hr{
    background-color: black;
    color: black;
    margin-top: 0;
}

.big_hr{
    height: .25rem;
}

.small_hr{
    height: .15rem;
}

.red_header{
    background-color: rgb(237, 50, 55);
    color: white;
}

#basic-addon1{
    border-radius: 0;
    background-color: rgb(237, 50, 55) !important;
    color: white !important;
}