
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Selectpicker
@import '~bootstrap-select/sass/variables.scss';
@import '~bootstrap-select/sass/bootstrap-select.scss';

// DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
@import '~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';

// FontAwesome
// @import "~font-awesome/scss/font-awesome.scss";
$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

.navbar-laravel {
  background-color: #7A75B5;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
}

.requerido:after {
  content: '*';
  color: red;
  padding-left: 5px;
}

.DTFC_LeftBodyLiner, .DTFC_RightBodyLiner {
  overflow-x: hidden;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.cl-white{
  color: white !important;
}

/* Rojo #ED3237 */
/* Negro #373435 */

.bg-dark-purple{
  background-color: #7A75B5;
}
.bg-purple{
  background-color: #7A75B5;
}
.bg-purple-sepanka{
  background-color: #7A75B5;
}

.bg-blue{
  background-color: #373435;
}

.bg-gray{
  background-color: #606062;
}

.bg-check{
  background-color: #D2D3D5;
}

.bg-red{
  background-color: #ED3237;
}

.btn-tab.active{
  color: white;
  background-color: #7A75B5;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  display: block;
}

.btn-tab{
  color: white;
  background-color: #5CC6D0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  display: block;
}

.btn-tab.active:hover{
  text-decoration: none;
}

.btn-tab:hover{
  text-decoration: none;
  color: white;
}

.form-control:focus {
  border-color: #FD595E !important;
  box-shadow: inset 0 1px 1px rgba(126, 119, 193, 0.075), 0 0 8px rgba(126, 119, 193, 0.6) !important;
}

.requerido:after {
  content: '*';
  color: red;
  padding-left: 5px;
}

.dropdown-item-dark:hover{
  background-color: #000000;
  color: #ffffff;
}

.img-header-profile{
  max-height:120px;
  max-width:120px;
}

.photo-container{
  max-height:60px;
  max-width:60px;
  background-color: #000000;
  border-radius: 100%;
  padding: 35px;
}

.photo-profile{
  max-height:180px;
  max-width:180px;
}

.photo-profile-container{
  max-height:180px;
  max-width:180px;
  background-color: #000000;
  /*border-radius: 100%;*/
  padding: 95px;
  margin-bottom: 10px;
}

#isItLoaded {
  display: none;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.th-color{
  background-color: #7A75B5;
  color: #ffffff;
}

.page-item.previous>a{
  background-color: #7A75B5 !important;
  color: #ffffff !important;
  border: 1px solid #7A75B5 !important;
}

.page-item.next>a{
  background-color: #7A75B5 !important;
  color: #ffffff !important;
  border: 1px solid #7A75B5 !important;
}

.btn-sepanka{
  background-color: #7A75B5;
  color: #ffffff;
}

.btn-sepanka:hover{
  background-color: #7A75B5;
  color: #ffffff;
}

.btn-excel{
  background-color: #1C742F;
  color:#ffffff;
}

.btn-excel:hover{
  background-color: rgb(20, 83, 34);
  color:#ffffff;
}

.text-bblue{
 color: #285992; 
}

.page-item.active .page-link{
  background-color: grey !important;
  border: 1px solid grey !important;
}


/*.custom-file-label::after {
  border-radius: 4px 4px 4px 4px;
}*/

.shadow-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: .2rem;
  overflow: hidden;
  font-size: 0.675rem;
  background-color: #7575755d;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}